.body {
    background-color: $colorfondo;
    font-family: 'Quicksand', sans-serif;

    nav {
        img {
            max-width: 300px;
        }
    }

    .conteiner {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 40px;
        position: relative;

        img {
            width: 400px;
            overflow: hidden;
            transition: 2s;
            border-radius: 5px;

            &:hover {
                transform: scale(1.2);

            }
        }

    }


    .footer {
        background-color: rgba(2, 2, 2, 0.973);
        display: flex;
        flex-direction: row;

        ol {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            align-content: center;
            justify-content: center
        }

        li {
            list-style: none;
            padding: 15px;
        }

        a {
            color: white;
            text-decoration: none;
        }

        i {
            color: white;
            font-size: 2rem;

            &:hover {
                color: black;
            }
        }
    }

}


@media (max-width: 480px) {
    .body {
        nav{
            img{
                max-width: 200px;
            }
        }
        .conteiner {
            img {
                width: 200px;
            }
            margin: 0;
        }
    }

    .footer{
        width: 100%;
    }

}