.h1{
    color: $colorfooter;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin: auto;
}

.prom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}



.footer {
    background-color: rgba(3, 3, 3, 0.945);
    display: flex;
    flex-direction: row;

    ol {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-content: center;
        justify-content: space-around
    }

    li {
        list-style: none;
        padding: 15px;
    }

    a {
        color: white;
        text-decoration: none;
    }

    i {
        color: white;
        font-size: 2rem;

        &:hover {
            color: black;
        }
    }
}
